#background-video {
    position: fixed;
    z-index: -1;
    margin-top: -112px;
  
  
    }
@font-face {
	font-family: 'Fascinate';
	src:    url(‘Fonts/Fascinate-Regular.ttf’) format(‘truetype’)
}
@font-face {
	font-family: 'Quicksand';
	src:    url(‘Fonts/Quicksand-VariableFont_wght.ttf’) format(‘truetype’)
}

 #index {
    background-image: url('FondAccueil.png');
    background-size: cover;
    background-position: center;

} 

.electroStyle {
    background: url('images/imageElectro.jpg') center/cover no-repeat;
    height: 100%;
    width: 100%;
}

.popStyle {
    background: url('images/ImagePop.jpg') center/cover no-repeat;
    height: 100%;
    width: 100%;
}

.rapStyle {
    background: url('images/ImageRap.jpg') center/cover no-repeat;
    height: 100%;
    width: 100%;
}

.rockStyle {
    background: url('images/FondRockMain.png') center/cover no-repeat;
    height: 100%;
    width: 100%;
}

.jazzStyle {
    background: url('images/imageJazz.jpg') center/cover no-repeat;
    height: 100%;
    width: 100%;
}

.fond-texte {
    background-color: rgba(169, 169, 169, 0.5);
    padding: 10px;
    border-radius: 5px;
}

body {
    font-family: Quicksand;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #533C3C;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
    font-family: Fascinate;
}

header.subtitle {
    font-style: italic;
    font-size: medium;
}

header img {
    width: 100px;
    height: auto;
    margin-left: -95%;
    position: relative;
    margin-bottom: -6%;

}

#lecteur {
    padding: 1em;
    background-color: rgba(169, 169, 169, 0.5);
    margin-top: 20px;
}


nav {
    background-color: #D8A86F;
    color: #fff;
    padding: 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
}

h3{
    color: #fff;
}

h4 {
    color: #fff;
    margin-left:35%;
    margin-top:-8.5%;
    font-size: 20px;
 }

section {
    padding: 1em;
}

footer {
    background-color: #533C3C;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h2 {
    font-weight: bold;
}